/***********TAG SELECTORS************/

 body {
   background-color: #ecfbfc;
   font-family: "Gill Sans", sans-serif;
   text-align: center;
 }

 hr {
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   width: 5%;
 }

 a {
   color: #f76a8c;
   font-family: "Gill Sans", sans-serif;
 }

 h1 {
   color: #66BFBF;
   font-family: Georgia, serif;
   font-size: 3em;
 }

 h2 {
   color: #f76a8c;
   font-family: "Gill Sans", sans-serif;
 }

 h3 {
   color: #f76a8c;
   font-family: "Gill Sans", sans-serif;
 }

 th, td {
   padding: 10px;
   text-align: left;
 }

tr:hover {
  background-color: #fff591;
}

/**********CLASS SELECTORS**********/

.circular {
  border-radius: 100%
}


/**********ID SELECTORS************/

#skills {
  background-color: #f5f5f5;

}
